.terraform
.idea/sonarlint/
.target
.idea
.terraform.lock.hcl
.gitignore
*.zipterraform.tfstate
terraform.tfstate.backup
terraform.tfstate
add_itens.zip
delete_itens.zip
update_itens.zip
hello.zip
*.zip
.venv/
__pycache__/